{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [
    ["transform-class-properties"],
    ["transform-object-rest-spread"],
    ["transform-export-extensions"],
    ["add-module-exports"],
  ],
  "env": {
    "production": {
      "plugins": [
        ["oxygen-i18n", {
          "statsFile": "build/stats.json",
          "bundleFile": "build/messages.json",
          "generate": false
        }],
        ["oxygen-css", {
          "vendorPrefixes": true,
          "prefix": "cs",
          "compressClassNames": true,
          "bundleFile": "build/bundle.css",
          "context": "./src/universal/styles/index.js",
          "generate": false,
          "mediaMap": {
            "phone": "media only screen and (max-width: 767px)",
            "tablet": "media only screen and (min-width: 768px) and (max-width: 959px)",
            "desktop": "media only screen and (min-width: 960px)"
          },
          "cacheDir": "tmp/cache/production"
        }]
      ]
    },
    "development": {
      "plugins": [
        ["oxygen-i18n", {
          "statsFile": "build/stats.json",
          "bundleFile": "build/messages.json",
        }],
        ["oxygen-css", {
          "vendorPrefixes": true,
          "prefix": "cs",
          "compressClassNames": true,
          "bundleFile": "build/bundle.css",
          "context": "./src/universal/styles/index.js",
          "mediaMap": {
            "phone": "media only screen and (max-width: 767px)",
            "tablet": "media only screen and (min-width: 768px) and (max-width: 959px)",
            "desktop": "media only screen and (min-width: 960px)"
          },
          "cacheDir": "tmp/cache"
        }]
      ]
    }
  }

}
